
<h1>Listing posts....</h1>
<table>
  <tr>
    <th>Post Name: </th>
    <th colspan="3"></th>
  </tr>
 
  <% @post1s.each do |post1| %>
    <tr>
      <td><%= post1.name %></td>
      <td><%= link_to'show', post1_path(post1.id) %></td>
    </tr>
  <% end %>
</table>
